<div class="custom-input">
  @if (label()) {
  <label class="block text-sm font-medium text-gray-500 mb-1">
    {{ label() }}
  </label>
  }

  <input
    pInputText
    [type]="type()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [value]="value()"
    (input)="onInput($any($event.target).value)"
    (blur)="onBlur()"
    [class]="inputClass()"
    class="w-full min-w-[170px]"
    [min]="min()"
    [max]="max()"
  />
  @if (control?.invalid && (control?.touched || control?.dirty)) {
  <div class="p-error">{{ errorMessage() }}</div>
  }
</div>
