<p-table
  #dt
  [value]="data()"
  [lazy]="true"
  [rows]="10"
  [totalRecords]="totalRecords()"
  [loading]="loading"
  [virtualScroll]="true"
  scrollHeight="500px"
  [virtualScrollItemSize]="50"
  (onLazyLoad)="lazyLoad($event)"
>
  <!-- Header -->
  <ng-template pTemplate="header">
    <!-- Row Names -->
    <tr>
      @for (col of columns(); track $index) {
      <th [pSortableColumn]="col.field">
        <div class="flex items-center gap-2">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </div>
      </th>
      }
      <!-- actions column -->
      @if (hasDelete() || hasUpdate() || hasDetails() ||
      getActionsTemplateFor()) {
      <th></th>
      }
    </tr>
    <!-- Row Filters -->
    <tr>
      @for (col of columns(); track $index) {
      <th>
        <input
          pInputText
          type="text"
          class="p-inputtext p-column-filter"
          placeholder="Type to search"
          (input)="onFilterBySearch($event, col.field)"
          [style]="{ width: '100%' }"
        />
      </th>
      }
      <!-- actions column -->
      @if (hasDelete() || hasUpdate() || hasDetails() ||
      getActionsTemplateFor()) {
      <th></th>
      }
    </tr>
  </ng-template>

  <!-- Body with content projection -->
  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of columns(); track col.field) {
      <ng-container
        [ngTemplateOutlet]="getTemplateFor()(col.field) || defaultTemplate"
        [ngTemplateOutletContext]="{
          $implicit: row[col.field],
          row: row,
          index: $index
        }"
      ></ng-container>
      }
      <!-- actions column -->
      <ng-container
        [ngTemplateOutlet]="getActionsTemplateFor() || defaultActionsTemplate"
        [ngTemplateOutletContext]="{ $implicit: row }"
      ></ng-container>
    </tr>
  </ng-template>
</p-table>
<!-- default cell template -->
<ng-template #defaultTemplate let-value>
  <td>{{ value }}</td>
</ng-template>
<ng-template #defaultActionsTemplate let-value>
  <!-- actions cell template -->
  @if (hasDelete() || hasUpdate() || hasDetails()) {
  <td class="flex gap-2">
    @if (hasDetails()) {
    <i
      (click)="onDetails(value)"
      class="icon icon-user-tie cursor-pointer text-2xl hover:text-[var(--primary-color)] duration-300 ease-in-out"
      title="View Details"
    ></i>
    } @if (hasUpdate()) {
    <i
      (click)="onUpdate(value)"
      class="icon icon-user-tie cursor-pointer text-2xl hover:text-[var(--primary-color)] duration-300 ease-in-out"
      title="Edit"
    ></i>
    } @if (hasDelete()) {
    <i
      (click)="onDelete(value)"
      class="icon icon-user-tie cursor-pointer text-2xl hover:text-[var(--primary-color)] duration-300 ease-in-out"
      title="Delete"
    ></i>
    }
  </td>
  }
</ng-template>
