<app-dialog
  [title]="dialogConfig()?.title!"
  [visible]="dialogVisible()"
  [hasButtons]="hasButtons()"
  (primaryClick)="confirmDialog()"
  (close)="closeDialog()"
>
  @switch (dialogConfig()?.mode) { @case ('add') {
  <form [formGroup]="form" class="flex flex-col gap-3">
    <app-text-input [label]="'Name'" formControlName="name"></app-text-input>
    <app-date-input
      [label]="'Subscription Start Date'"
      formControlName="subscriptionStartDate"
    ></app-date-input>
    <app-date-input
      [label]="'Subscription End Date'"
      formControlName="subscriptionEndDate"
    ></app-date-input>
    <app-text-input [label]="'Phone'" formControlName="phone"></app-text-input>
    <app-text-input
      [label]="'Address'"
      formControlName="address"
    ></app-text-input>
  </form>
  } @case ('update') {
  <form [formGroup]="form" class="flex flex-col gap-3">
    <app-text-input
      [label]="'Name'"
      [formControlName]="'name'"
    ></app-text-input>
    <app-date-input
      [label]="'Subscription Start Date'"
      formControlName="subscriptionStartDate"
    ></app-date-input>
    <app-date-input
      [label]="'Subscription End Date'"
      formControlName="subscriptionEndDate"
    ></app-date-input>
    <div class="flex gap-6 items-center">
      <app-details-field
        [label]="'Subscription'"
        [value]="subscriptionStatus()"
        [type]="'tag'"
      ></app-details-field>
      <p-toggleswitch
        [ngModel]="checked()"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onToggleChange($event)"
      />
    </div>
  </form>
  } @case ('delete') {
  <div class="p-4">
    Are you sure you want to delete
    <strong>{{ dialogConfig()?.row?.name }}</strong
    >?
  </div>
  } @case ('details') {
  <div class="p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="space-y-3">
        <app-details-field
          [label]="'Code'"
          [value]="dialogConfig()?.row?.code!"
          [type]="'text'"
        ></app-details-field>
        <app-details-field
          [label]="'Name'"
          [value]="dialogConfig()?.row?.name!"
          [type]="'text'"
        ></app-details-field>
        <app-details-field
          [label]="'Subscription Start Date'"
          [value]="dialogConfig()?.row?.subscriptionStartDate!"
          [type]="'date'"
        ></app-details-field>
        <app-details-field
          [label]="'Subscription'"
          [value]="dialogConfig()?.row?.subscription!"
          [type]="'tag'"
        ></app-details-field>
      </div>
      <div class="space-y-3">
        <app-details-field
          [label]="'Balance'"
          [value]="dialogConfig()?.row?.balance!"
          [type]="'text'"
        ></app-details-field>
        <app-details-field
          [label]="'Debt'"
          [value]="dialogConfig()?.row?.debt!"
          [type]="'text'"
        ></app-details-field>
        <app-details-field
          [label]="'Subscription End Date'"
          [value]="dialogConfig()?.row?.subscriptionEndDate!"
          [type]="'date'"
        ></app-details-field>
        <app-details-field
          [label]="'Credit'"
          [value]="dialogConfig()?.row?.credit!"
          [type]="'text'"
        ></app-details-field>
      </div>
    </div>
    @if (dialogConfig()?.row?.address || dialogConfig()?.row?.phone) {
    <div class="mt-4 pt-4 border-t border-[var(--primary-color)]">
      <h3 class="text-lg font-medium mb-3">Contact Information</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        @if (dialogConfig()?.row?.address) {
        <app-details-field
          [label]="'Address'"
          [value]="dialogConfig()?.row?.address!"
          [type]="'text'"
        ></app-details-field>

        } @if (dialogConfig()?.row?.phone) {
        <app-details-field
          [label]="'Phone'"
          [value]="dialogConfig()?.row?.phone!"
          [type]="'text'"
        ></app-details-field>
        }
      </div>
    </div>
    }
  </div>
  } }
</app-dialog>
