@import "tailwindcss";
@import "./assets/fonts/icomoon.css";
:root {
  --primary-color: #c1f429;
  --secondary-color: #f59e0b;
  --red: #fca5a5;
  --dark-red: #260b0b;
  --green: #86efac;
  --dark-green: #05200f;
}
body {
  margin: 0;
  padding: 0;
}
